
 /* 1. ---General Styles--- */

 #mobile-outline {
    outline: 20px solid #333;
    max-width: 412px;
    margin: 20px auto 20px auto;
    border-radius: 10px;
 } 
 
 body {
    color: #626262;
    font-family: 'Sanchez', 'Times New Roman', serif;
 }
 
 a {
    text-decoration: none;
    transition: all .5s ease-in-out;
 }
 
 
 .cr-red {
    color: #9a2018;
 }
 
 
 /* 2. ---Main Nav--- */
 
  #main-nav label img {
    width: 20px;
    height: 20px;
    margin-top: 15px;
    cursor: pointer;
    transition: all .5s ease;
    margin-bottom: 20px; 
 } 
 
 #main-nav input, #burger-con {
    display: none;
 }
 
 /*   ~ sibling selector   */
 
 #main-nav input:checked ~ #burger-con {
    display: block;
 }
 
 #main-nav input:checked ~ label img {
    transform: rotate(90deg);
 }
 
 #main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
 }
 
 #main-nav ul li a {
    display: block;
    padding: 10px 0 10px 0;
    text-align: center;
    color: #626262;
 }
 
 #main-nav ul li {
    border-bottom: 1px solid #efefef;
 }
 
 #main-nav ul li:first-child {
    border-top: 1px solid #efefef;
 }
 
 #main-nav ul li:last-child {
    margin-bottom: 10px;
 }
 
 #logo {
    margin-bottom: 20px;
    max-width: 382px;
 }
 
 
 /* 3. ---Main Hero Image--- */
 
 #hero {
    background: url(../images/hero-main_accommodations.jpg) no-repeat;
    height: 220px;
 }
 
 #hero-heading-box {
    align-self: end;
 }
 
 .banner{
    background: rgb(255, 255, 255);
    padding: 10px 15px;
    font-size: 21px;
 }
 
 .banner span {
    color: #9a2018;
    font-size: 12px;
 }
 
 .line-separator {
    margin-top: 20px;
    border-top: solid 3px #CF6666;
    padding-top: 20px;
 }
 
 #rooms-summary p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
 }
 
#chateaus-con {
   background: url(../images/chateau-banner.jpg) no-repeat;
   height: 220px;
   margin-top: 20px;
 }
 
#chateaus-heading-box {
    align-self: end;
 }
 
#chateaus-summary p {
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 20px;
 }

 #chateaus-summary span{
    text-decoration: underline 3px #9a2018;
 }

#check-botton-1 ,#check-botton-2,#check-botton-3,#check-botton-4,#check-botton-5,#check-botton-6{
    background-color: #9a2018;
    background-size: 140px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    padding: 15px 30px;
    transition:all 0.3s ease;
    cursor: pointer;
    transition: background-color 500ms linear;
 }

#check-botton-1:hover, #check-botton-2:hover, #check-botton-3:hover, #check-botton-4:hover, #check-botton-5:hover, #check-botton-6:hover{
    background-color: rgb(196, 28, 28);
 }

#check-botton-1 p{
    color: #fff;
    margin:0;
 }

#spa-villas-con {
   background: url(../images/spa-villas-banner.jpg) no-repeat;
   height: 220px;
   margin-top: 20px;
 }

#spa-villas-heading-box {
   align-self: end;
}

#spa-villas-summary p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
 }

 #check-botton-2 p {
    color: #fff;
    margin:0;
 }

 #spa-villas-summary span{
    text-decoration: underline 3px #9a2018;
 }

 #masters-con {
   background: url(../images/master-banner.jpg) no-repeat;
   height: 220px;
   margin-top: 20px;
 }

 #masters-heading-box {
   align-self: end;
}

#masters-summary p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
 }

 #check-botton-3 p {
    color: #fff;
    margin:0;
 }

 #masters-summary span{
    text-decoration: underline 3px #9a2018;
 }

 #exotic-con {
   background: url(../images/exotics-banner.jpg) no-repeat;
   height: 220px;
   margin-top: 20px;
 }

 #exotic-heading-box {
   align-self: end;
}

#exotic-summary p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
 }

 #check-botton-4 p {
    color: #fff;
    margin:0;
 }

 #exotic-summary span{
    text-decoration: underline 3px #9a2018;
 }


 #chalets-con {
   background: url(../images/chalets-banner.jpg) no-repeat;
   height: 220px;
   margin-top: 20px;
 } 

 #chalet-heading-box {
    align-self: end;
 }
 
 #chalet-summary p {
     font-size: 14px;
     line-height: 20px;
     margin-bottom: 20px;
  }
 
  #check-botton-5 p {
     color: #fff;
     margin:0;
  }
 
  #chalet-summary span{
     text-decoration: underline 3px #9a2018;
  }

  #juniors-con {
    background: url(../images/juniors-banner.jpg) no-repeat;
    height: 220px;
    margin-top: 20px;
  } 
 
  #juniors-heading-box {
     align-self: end;
  }
  
  #juniors-summary p {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 20px;
   }
  
   #check-botton-6 p {
      color: #fff;
      margin:0;
   }

   #juniors-summary {
      padding-bottom: 30px;
   }
  
   #juniors-summary span{
      text-decoration: underline 3px #9a2018;
   }

   #contact-hero-form form {
      display: flex;
      flex-direction: column;
      padding-top: 30px;
   }
   
   #contact-hero-form input, textarea {
      padding: 22px;
      border: 2px solid #d6d6d6;
      background-color: #f7f7f7;
      border-radius: 5px;
      margin-bottom: 30px;
      font: inherit;
      width: auto;
   }
   
   #contact-hero-form textarea {
      height: 250px;
   }
   
   #contact-hero-form input[type="submit"] {
      padding: 12px 28px;
      background: #9a2018;
      color: #fff;
      border: none;
      transition: all 200ms ease-in;
      width: 150px;
      align-self: flex-end;
   }
   
   #contact-hero-form input[type="submit"]:hover {
      background-color: #626262;
      border-radius: 0;
   }
 
 #footer-hero {
    background-image: url(../images/footer.jpg);
     background-repeat: no-repeat;
    color: #fff;
    font-size: 12px;
    margin-top: 40px;
    padding-bottom: 80px;
 }
 
 #footer-hero h3 {
    margin-top: 30px;
    font-size: 28px;
    margin-bottom: 16px;
 }
 
 #footer-privacy .line-seperator {
    margin-top: 0px;
 }
 
 #footer-contact-info h3 {
    font-size: 23px;
 }
 
 #footer-contact-info p {
    margin-bottom: 20px;
    line-height: 18px;
    font-size: 11px;
 }